body {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  font-family: "Khand", sans-serif;
}

h1,
h2,
h3 {
  width: 100%;
  text-align: center;
}

.skill-box {
  height: 200;
  width: 200;
  display: inline-flex;
  margin: 5;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  transition: transform 0.1s;
  background-color: white;
  flex: none;
}

.skill-box:hover {
  transform: scale(1.05);
}

.heading-div {
  display: flex;
  height: 45;
  justify-items: center;
  align-items: center;
}

.hr-div {
  height: 1;
  background-color: #bbbbbb;
  justify-self: center;
  margin-left: 5;
  margin-right: 5;
}

.skill-box a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.skill-box h1 {
  width: 100%;
  text-align: center;
  font-size: large;
  margin-right: 5;
  margin-left: 5;
}

.skill-box img {
  float: left;
  margin-left: 5;
  height: 30;
  width: 30;
}

.skill-box p {
  width: 100%;
  text-align: center;
  font-size: normal;
}

.skill-box hr {
  width: 80%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  width: 95%;
  border: none;
  text-align: center;
  outline: none;
}

.collapsible:hover {
  background-color: #ccc;
}

.content {
  display: inline-flex;
  width: 95%;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
}
